@model CrudNativoBiblioteca.Models.Prestamo
@{
    ViewData["Title"] = "Eliminar Préstamo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Eliminar préstamo</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="LibroId" class="control-label"></label>
                    <input asp-for="LibroId" class="form-control" value="@Model.Libro?.Titulo" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="UsuarioId" class="control-label"></label>
                    <input asp-for="UsuarioId" class="form-control" value="@Model.Usuario?.Nombre" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" readonly />
                </div>
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input asp-for="FechaFin" class="form-control" readonly />
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
